@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* App Header styling */

.App-header {
  background-color: #3F6C8E;
  font-family: 'Lato', sans-serif;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

/* Navigation styling */

.navigation ul {
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #86A8C1;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #3F6C8E;
}

/* OverviewPage styling */

.OverviewPage {
  font-family: 'Lato', sans-serif;
  padding: 15px;
}

.OverviewPage h1 {
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding-left: 50px;
  margin: 0;
}

.ChartComponent {
  margin-bottom: 20px;
  /* padding: 15px; */
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin: 50px;
  justify-content: center;
}

.InputSelect {
  padding: 15px;
  background-color: #E6EDF3;
  border-radius: 0px 5px 5px 0px;
  width: 40%;
}

.InputSelectLabel {
  margin-right: 5px;
}

/* SelectStudents styling */

.SelectStudents {
  font-family: 'Lato', sans-serif;
  padding: 15px;
  background-color: #E6EDF3;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin: 50px;
  /* width: 80%; */
}

/* STUDENTS - StudentsPage styling */

.StudentsPage {
  font-family: 'Lato', sans-serif;
  padding: 15px;
}

.StudentsPage h1 {
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding-left: 50px;
  margin-top: 0;
}

/* STUDENT - StudentPage styling */

.StudentPage {
  font-family: 'Lato', sans-serif;
  padding: 15px;
}

.StudentPage h1 {
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding-left: 50px;
  margin-top: 0;
}

.GraphComponent {
  margin-bottom: 20px;
  /* padding: 15px; */
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin: 50px;
  justify-content: center;
}

/* Componenten Info styling */

.ComponentInfo {
  padding: 15px;
  background-color: #E6EDF3;
  border-radius: 0px 0px 5px 5px;
}